<section class="cards">
    <div class="card">
        <h3>Últimos eventos publicados</h3>
    </div>
    <div class="card">
        <img class="card-icon" src="img/icon-1.svg" alt="icon">
        <img class="card-img" src="img/card.jpg">
        <h4>Xongando co luga!</h4>
    </div>
    <div class="card">
        <img class="card-icon" src="img/icon-2.svg" alt="icon">
        <img class="card-img" src="img/card.jpg">
        <h4>Feira do libro antigo e de ocasión de Galicia</h4>
    </div>
    <div class="card">
        <img class="card-icon" src="img/icon-3.svg" alt="icon">
        <img class="card-img" src="img/card.jpg">
        <h4>Campamento castrexo</h4>
    </div>
</section>