<footer>
    <section class="footer-top">
        <div class="footer-row row-1">
            <div class="footer-address">
                <p>
                    <span class="address-title">Federación de Librarías de Galicia</span><br>
                    Centro de Emprendemento (CEM)<br>
                    Cidade da Cultura de Galicia<br>
                    Monte Gaiás, s/n<br>
                    15707 - Santiago de Compostela
                </p>
            </div>
            <div class="footer-contact">
                <p>
                    +34 XXX XXX 000<br>
                    <span class="email">pruebacorreo@dominio.com</span>
                </p>
            </div>
            <div class="footer-links">
                <ul class="links-list">
                    <li>Sobre nós</li>
                    <li>Listado librarías socias</li>
                </ul>
            </div>
            <div class="footer-social">
                <div class="social-icons">
                    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-row row-2">
            <div class="footer-legal">
                <p>Federación de Librarías de galicia. 2022</p>
            </div>
            <div class="footer-policy">
                <ul class="policy-list">
                    <li>Legal e privacidade</li>
                    <li>Política de cookies</li>
                    <li>Xestionar cookies</li>
                </ul>
            </div>
            <div class="footer-credits">
                <p>Deseñado por duacode<br>
                Maquetado por damalga.</p>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="footer-logo duacode">
            <img src="img/logo-1.png" alt="logo duacode">
        </div>
        <div class="footer-logo xunta">
            <img src="img/logo-2.png" alt="logo xunta">
        </div>
        <div class="footer-logo xacobeo">
            <img src="img/logo-3.png" alt="logo xacobeo">
        </div>
        <div class="footer-logo deputacion">
            <img src="img/logo-4.png" alt="logo deputación">
        </div>
    </section>
</footer>
