<div class="result">
    <div class="result-date">10 sep 2022 | 25 nov 2022</div>
    <img class="result-img" src="img/img-1.png" alt="Placeholder image for the 'Saído do cadro' event">
    <div class="result-details">
        <img class="result-icon" src="img/icon-1.svg" alt="icon">
        <h3 class="result-title">Saído do cadro</h3>
        <p>Presencial</p>
        <div class="icons">
            <div class="icon">
                <i class="fas fa-clock"></i>
                <p>10:00 - 15:00</p>
            </div>
            <div class="icon">
                <i class="fas fa-map-marker-alt"></i>
                <p>Vigo</p>
            </div>
        </div>
    </div>
</div>