<section class="grid-section">
  <div class="grid-row">
    <div class="banner small-banner">
      <!-- Contenido del banner, puede ser una imagen o texto -->
      <img src="img/small-banner-1.png" alt="Banner 1">
    </div>
    <div class="banner small-banner">
      <img src="img/small-banner-2.png" alt="Banner 2">
    </div>
    <div class="banner small-banner">
      <img src="img/small-banner-3.png" alt="Banner 3">
    </div>
  </div>
  <div class="banner large-banner">
    <img src="img/large-banner-1.png" alt="Banner Grande">
  </div>
</section>
