<div class="novedades">
    <img class="icon-agenda" src="img/agenda.svg" alt="icono agenda">
    <h2>Novas</h2>
    <a href="#">Ver máis novas</a>
</div>
<div class="novedades-items">
    <div class="item">
        <img class="item-img" src="img/new-img-1.png" alt="Abstract shapes with pastel colors">
        <h2>Titular largo para las noticias de la index</h2>
        <i class="fas fa-calendar-alt"></i>
        <p>25 ago 2022</p>
    </div>
    <div class="item">
        <img class="item-img" src="img/new-img-2.png" alt="Person standing on a salt flat during sunset">
        <h2>Titular largo para las noticias de la index</h2>
        <i class="fas fa-calendar-alt"></i>
        <p>17 ago 2022</p>
    </div>
    <div class="item">
        <img class="item-img" src="img/new-img-3.png" alt="Lighthouse in the sea">
        <h2>Titular largo para las noticias de la index</h2>
        <i class="fas fa-calendar-alt"></i>
        <p>15 ago 2022</p>
    </div>
</div>